<% if current_user.apartamento.residencial.areas  %>
    <% if @reserva.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@reserva.errors.count, "erro") %>:</h2>

          <ul>
            <% @reserva.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= form_for @reserva, :html => { :class => 'form-horizontal' } do |f| %>
        <% if current_user.has_role? :sindico %>
            <div class="control-group">
              <%= f.label :status, :class => 'control-label' %>
              <div class="controls">
                <%= f.select :status, {"Aguardando Aprovação" => "Aguardando Aprovação", "Aprovado" => "Aprovado", "Rejeitado" => "Rejeitado"}%>
              </div>
            </div>
        <% end %>


      <div class="control-group">
        <%= f.label :area_id, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :area_id, @areas.map {|r| [r.nome,r.id] },{},  {:disabled=>(@reserva.user and not current_user.id.eql? @reserva.user.id)} %>

        </div>
      </div>

      <div class="control-group">
        <%= f.label :data, :class => 'control-label' %>
        <div class="controls">
          <%= f.date_select :data, :class => 'date_select',
                            :disabled=>(@reserva.user and not current_user.id.eql? @reserva.user.id)%>

        </div>
      </div>

      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    reservas_path, :class => 'btn' %>
      </div>
    <% end %>

    <% if @reservas %>
        <div  class="alert alert-info">
    Abaixo estão as reservas já aprovadas. <br />  Basei-se por essa listagem para solicitar sua reserva.
          </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Area</th>
        <th>Apartamento</th>
        <th>Solicitado para</th>
        <th>Solicitado em</th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <% @reservas.each do |reserva| %>
          <tr>
            <td><%= reserva.area.nome %></td>
            <td><%= reserva.user.apartamento.numero %></td>
            <td><%=l reserva.data %></td>
            <td><%=l reserva.created_at %></td>
            <td>
              <%= link_to 'Editar',
                          edit_reserva_path(reserva), :class => 'btn btn-mini' if permitted_to? :edit, reserva %>
              <%= link_to 'Excluir',
                          reserva_path(reserva),
                          :method => :delete,
                          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                          :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, reserva %>
            </td>
          </tr>
      <% end  %>
      <% else %>
         Não ha nenhuma reserva registrada até o momento.
    <% end  %>
      </tbody>
    </table>



<% else %>
    Não ha areas externas cadastradas para o residencial. <br />

    <%= link_to "Cadastrar Nova Area",
                new_residencial_area_path(current_user.apartamento.residencial),
                :class => 'btn btn-primary' if permitted_to? :new, Area.new %>

<% end %>


