<%- model_class = Reserva -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div  class="alert">
<b>Legenda: </b>
<i class="icon-time" style="margin-left: 10px;">Aguardando Aprovação</i>
<i class="icon-ok" style="margin-left: 10px;">Aprovado</i>
<i class="icon-remove" style="margin-left: 10px;">Rejeitado</i>

</div>

<% if current_user.apartamento.residencial.areas and current_user.apartamento.residencial.areas.count > 0 %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:area_id) %></th>
      <th>Apartamento</th>
      <th>Solicitado para</th>
      <th>Solicitado em</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><i class="<%= reserva.status_icon %>"> </i></td>
        <td><%= reserva.area.nome %></td>
        <td><%= reserva.user.apartamento.numero %></td>
        <td><%=l reserva.data %></td>
        <td><%=l reserva.created_at %></td>
        <td>
          <%= link_to 'Editar',
                      edit_reserva_path(reserva), :class => 'btn btn-mini' if permitted_to? :edit, reserva %>
          <%= link_to 'Excluir',
                      reserva_path(reserva),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                      :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, reserva %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo",
            new_reserva_path,
            :class => 'btn btn-primary'  %>


<% else %>
Não ha areas externas cadastradas para o residencial. <br />



<% end %>

<%= link_to "Cadastrar Nova Area",
            new_residencial_area_path(current_user.apartamento.residencial),
            :class => 'btn btn-primary' if permitted_to? :new, Area.new %>
