<%- model_class = Reserva -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:area_id) %>:</strong></dt>
  <dd><%= @reserva.area.nome%></dd>

  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @reserva.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%=l @reserva.data %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              reservas_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_reserva_path(@reserva), :class => 'btn' if permitted_to? :edit, @reserva %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              reserva_path(@reserva),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' if permitted_to? :destroy, @reserva %>
</div>
