<%- model_class = Apartamento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:numero) %></th>
      <th>Usuários</th>
      <th>Perfis</th>
      <th><%=t '.actions', :default => 'Ações' %></th>
    </tr>
  </thead>
  <tbody>
    <% @apartamentos.each do |apartamento| %>
      <tr>
        <td><%= link_to apartamento.id, residencial_apartamento_path(apartamento.residencial, apartamento) %></td>
        <td><%= apartamento.numero %></td>
        <td><%= link_to apartamento.users.length, residencial_apartamento_users_path(apartamento.residencial, apartamento) %></td>
        <td><% apartamento.users.each do |u| %>
              <% u.roles.each do |r| %>
               <%= r.nome %>
              <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Editar',
                      edit_residencial_apartamento_path(apartamento.residencial, apartamento), :class => 'btn btn-mini' %>
          <%= link_to 'Excluir',
                      residencial_apartamento_path(apartamento.residencial, apartamento),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Novo",
            new_residencial_apartamento_path,
            :class => 'btn btn-primary' %>
<%= link_to 'Voltar',
            residenciais_path,
            :class => 'btn btn-secundary' %>
