<%- model_class = Servico -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @servico.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo) %>:</strong></dt>
  <dd><%= @servico.tipo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefone) %>:</strong></dt>
  <dd><%= @servico.telefone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endereco) %>:</strong></dt>
  <dd><%= @servico.endereco %></dd>
  <dt><strong><%= model_class.human_attribute_name(:detalhes) %>:</strong></dt>
  <dd><%= @servico.detalhes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:regiao) %>:</strong></dt>
  <dd><%= @servico.regiao %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              servicos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_servico_path(@servico), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              servico_path(@servico),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
