<%= form_for [@residencial, @apartamento, @user], :html => { :class => 'form-horizontal' } do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@user.errors.count, "erro") %>:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <div class="controls">
        <%= image_tag "profile_m.gif", :size => "150x150" unless @user.photo_file_name %>
        <%= image_tag @user.photo.url(:small) , :size => "150x150" if @user.photo_file_name %>

        <%= f.file_field :photo %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :telefone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :telefone, :class => 'text_field' %>
      </div>
    </div>

    <!--<div class="control-group">-->
      <!--<%= f.label :password, :class => 'control-label' %>-->
      <!--<div class="controls">-->
        <!--<%= f.password_field :password, :class => 'text_field' %>-->
      <!--</div>-->
    <!--</div>-->

    <% if has_role? :admin %>
    <div class="control-group">
      <%= f.label :roles, :class => 'control-label' %>
      <div class="controls">
        <% Role.all.each do |role| -%>
            <div>
              <%= check_box_tag :role_ids, role.id, @user.roles.include?(role), :name => 'user[role_ids][]' -%> <%= label_tag :role_ids, role.nome -%>
            </div>
        <% end -%>
      </div>
    </div>
     <% end %>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                residencial_apartamento_users_path, :class => 'btn' %>
  </div>
<% end %>
