<%  if user_signed_in? and current_user.apartamento and (permitted_to? :create, Comentario.new) %>
<%= form_for @comentario, :html => { :class => 'form-vertical', :style => "margin-top: -17px" } do |f| %>
    <% if @comentario.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@comentario.errors.count, "erro") %>:</h2>

          <ul>
            <% @comentario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!--<div class="control-group">-->
      <!--<div class="controls">-->
        <!--<%= f.text_field :titulo, :class => 'text_field' %>-->
      <!--</div>-->
    <!--</div>-->

    <div class="form-actions">
      <div class="controls">
        <%= image_tag "profile_m.gif", :size => "80x80" unless current_user.photo_file_name %>
        <%= image_tag current_user.photo.url(:small) , :size => "70x70" if current_user.photo_file_name %>
        <%= f.text_area :conteudo, :class => 'text_area textarea_comment', :rows => 3  %>
        
        <%= f.submit "Enviar", :class => 'btn btn-primary' %>

        <span class="label label-important"> <%= f.check_box  :alerta %> Alerta</span>
        <span class="label label-warning"><%= f.check_box  :postar_na_regiao %> Postar na regiao</span>
      </div>
      

      

    </div>
<% end %>
<% else %>
  <br/>
<% end %>

<%  if user_signed_in? and current_user.apartamento %>

<% @comentarios.each do |comentario| %>
    <div class="row-fluid">


    <div class="well alert <% if comentario.alerta %>alert-error <% end %>">


      <span class="label label-warning">

        <% if comentario.postar_na_regiao %>
            Mensagem da Regiao
        <% end %>

      </span>

        <% if comentario.comentavel_type.eql? 'Evento' %>
          <div style="">

              <div style="background-color: #fff8dc;text-align: center; color:black; float: left;  border: 1px #d3d3d3 solid; padding: 15px 10px 10px 15px;">
                <span style="color:red; font-size: xx-large; font-weight: bold;"><%=  comentario.evento.data_e_hora.day  %> </span>
                <br/><span><%=  comentario.evento.data_e_hora.strftime('%b %Y')   %></span>
                <br/><span><%=  comentario.evento.data_e_hora.strftime('%I:%M %p')   %></span> <br/>
              </div>
              <div style="margin: 0px 0px 40px 100px; ">
                <span style="color:red; font-size: xx-large; font-weight: bold;"><%=  comentario.evento.titulo  %> </span><br />
                 <span style="color:black;"><%=  comentario.evento.descricao  %> </span>
              </div>
          </div>
        <% elsif comentario.comentavel_type.eql?  'Arquivo' %>
          <div class="">
            <div style="text-align: center; color:black; float: left;">
              <%= link_to image_tag(comentario.arquivo.icon, :size => "65x65") , comentario.arquivo.file.url %>
          </div>
          <div style="margin: 5px 100px; ">
            <span style="color:red; font-size: xx-large; font-weight: bold;"> <%= comentario.arquivo.titulo %></span><br />
            <span style="color:black;"><%= comentario.arquivo.descricao %> </span><br />

            <%= link_to "Baixar arquivo", comentario.arquivo.file.url %><br />
          </div>
          </div>
        <% end %>

      <p>

        <a href="#"
           rel="popover"
           data-content="Apartamento: <%= comentario.user.apartamento.numero %>"
           data-original-title="<%= comentario.user.email %>"
        >
          <%= image_tag "profile_m.gif", :size => "30x30" unless comentario.user.photo_file_name %>
          <%= image_tag comentario.user.photo.url(:small) , :size => "30x30" if comentario.user.photo_file_name %>
        </a>

        <b><%= comentario.titulo %> </b><%= comentario.conteudo %>
          <span style="font-size: x-small;color: #999999;"> <%= time_ago_in_words(comentario.created_at) %> </span>

            <%= link_to 'Excluir',
                        comentario_path(comentario),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                        :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, comentario %>

        </p>
      <% comentario.comentarios.each do |c| %>
          <hr style="margin: -5px 0 3px 0px;border-color: #ffffff; border-bottom-width: 0;"/>
          <div style="background-color: ;">

          <p>

            <a href="#"
               rel="popover"
               data-content="Apartamento: <%= comentario.user.apartamento.numero %>"
               data-original-title="<%= comentario.user.email %>"
            >
              <%= image_tag "profile_m.gif", :size => "30x30" unless c.user.photo_file_name %>
              <%= image_tag c.user.photo.url(:small) , :size => "30x30" if c.user.photo_file_name %>
            </a>
            <b><%= c.titulo %> </b><%= c.conteudo %>
            <span style="font-size: x-small;color: #999999;"><%= time_ago_in_words(c.created_at) %> </span>
            <%= link_to 'Excluir',
                        comentario_path(c),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                        :class => 'btn btn-mini btn-danger'if permitted_to? :destroy, c %>
          </p>
          </div>
      <% end %>

      <%= form_for Comentario.new, :html => { :class => 'form-inline' } do |f| %>

          <%= image_tag "profile_m.gif", :size => "30x30" unless current_user.photo_file_name %>
          <%= image_tag current_user.photo.url(:small) , :size => "30x30" if current_user.photo_file_name %>
          <%= hidden_field :comentario, :comentavel_id, :value => comentario.id %>
          <%= hidden_field :comentario, :comentavel_type, :value => comentario.class %>
          <%= f.text_field :conteudo, :class => 'text_area', :rows => 1  %>

      <% end %>
    </div>







    </div>
    <% end %>
<% end %>


