<%  if user_signed_in? and current_user.apartamento and (permitted_to? :create, Comentario.new) %>
<%= form_for @comentario, :html => { :class => 'form-vertical', :style => "margin-top: -17px" } do |f| %>
    <% if @comentario.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

          <ul>
            <% @comentario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!--<div class="control-group">-->
      <!--<div class="controls">-->
        <!--<%= f.text_field :titulo, :class => 'text_field' %>-->
      <!--</div>-->
    <!--</div>-->

    <div class="form-actions">
      <div class="controls">
        <%= image_tag "profile_m.gif", :size => "80x80" unless current_user.photo_file_name %>
        <%= image_tag current_user.photo.url(:small) , :size => "70x70" if current_user.photo_file_name %>
        <%= f.text_area :conteudo, :class => 'text_area textarea_comment', :rows => 3  %>
      </div>
      <%= f.submit "mensagem", :class => 'btn btn-primary' %>
      <%= f.check_box  :alerta %> Alerta

    </div>
<% end %>
<% else %>
  <br/>
<% end %>

<%  if user_signed_in? and current_user.apartamento %>

<% @comentarios.each do |comentario| %>
    <div class="row-fluid">

    <div class="span1">
      <% if comentario.comentavel_type.eql? 'Evento' %>
          <%= image_tag "icon-evento.png", :width => "60px", :height => "60px" %>
      <% elsif comentario.comentavel_type.eql?  'Arquivo' %>
          <%= image_tag "icon-file.png", :width => "60px", :height => "60px" %>
      <% elsif comentario.alerta %>
          <%= image_tag "icon-alert.png", :width => "60px", :height => "60px" %>
      <% else %>
          <%= image_tag "icon-chat.png", :width => "60px", :height => "60px" %>
      <% end %>
    </div>
    <div class="span11 alert <% if comentario.alerta %>alert-error <% end %>">

      <p>
        <%= image_tag "profile_m.gif", :size => "30x30" unless comentario.user.photo_file_name %>
        <%= image_tag comentario.user.photo.url(:small) , :size => "30x30" if comentario.user.photo_file_name %>

        <b><%= comentario.titulo %> </b><%= comentario.conteudo %>
          <%= time_ago_in_words(comentario.created_at) %>

            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        comentario_path(comentario),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, comentario %>

        </p>
      <% comentario.comentarios.each do |c| %>

          <p>
            <%= image_tag "profile_m.gif", :size => "30x30" unless c.user.photo_file_name %>
            <%= image_tag c.user.photo.url(:small) , :size => "30x30" if c.user.photo_file_name %>
            <b><%= c.titulo %> </b><%= c.conteudo %>
            <%= time_ago_in_words(c.created_at) %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        comentario_path(c),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger'if permitted_to? :destroy, c %>
          </p>
      <% end %>

      <%= form_for Comentario.new, :html => { :class => 'form-inline' } do |f| %>
          <%= image_tag "profile_m.gif", :size => "30x30" unless current_user.photo_file_name %>
          <%= image_tag current_user.photo.url(:small) , :size => "30x30" if current_user.photo_file_name %>
          <%= hidden_field :comentario, :comentavel_id, :value => comentario.id %>
          <%= hidden_field :comentario, :comentavel_type, :value => comentario.class %>
          <%= f.text_area :conteudo, :class => 'text_area', :rows => 1  %>
          <%= f.submit "mensagem", :class => 'btn btn-primary' %>
      <% end %>
    </div>







    </div>
    <% end %>
<% end %>


