<%= form_for @evento, :html => { :class => 'form-horizontal' } do |f| %>

    <% if @evento.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@evento.errors.count, "erro") %>:</h2>

          <ul>
            <% @evento.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :titulo, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :titulo, :class => 'text_field' %>
      </div>
    </div>
  <div class="control-group">
    <%= f.label :data_e_hora, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :data_e_hora, :class => 'datetime_select span1', :order => [:day, :month, :year] %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descricao, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descricao, :class => 'text_area textarea_comment', :rows => 3 %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                eventos_path, :class => 'btn' %>
  </div>
<% end %>
