<%- model_class = Evento -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<div style="float: none;">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_evento_path,
              :class => 'btn btn-primary' if permitted_to? :new, Evento.new %>
</div>
<br />
<div class="row">
<% @eventos.each do |evento| %>


      <div class="well span4">

        <div style="text-align: center; color:black; float: left; border: 1px #d3d3d3 solid; padding: 10px;">
          <span style="color:red; font-size: xx-large; font-weight: bold;"><%=  evento.data_e_hora.day  %> </span>
          <br/><span><%=  evento.data_e_hora.strftime('%b %Y')   %></span>
          <br/><span><%=  evento.data_e_hora.strftime('%I:%M %p')   %></span> <br/>
        </div>
        <div style="margin: 0px 0px 0px 90px; ">
          <span style="color:red; font-size: xx-large; font-weight: bold;"><%=  evento.titulo  %> </span><br />
          <span style="color:black;"><%=  evento.descricao  %> </span>  <br />
          <%= link_to "Comentários", evento %><br />
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_evento_path(evento), :class => 'btn btn-mini' if permitted_to? :edit, evento %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      evento_path(evento),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, evento %>
        </div>
      </div>





    <% end %>
</div>
