<%- model_class = Residencial -%>
<div class="page-header">
 
</div>
<%= form_tag(@residencial, :method=>'post', :multipart => true) do  %>

    <% if @residencial.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          
          <ul>
            <% @residencial.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if @sindico.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@sindico.errors.count, "erro") %>:</h2>

          <ul>
            <% @sindico.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div style="text-align: center; ">
    	<h1> Qual o nome do seu condomínio </h1>
      <%= text_field_tag "residencial_nome", nil, :placeholder => "",:size => 100,
                         :style => 'margin: 10px; padding: 20px 10px 20px 10px; width: 400px; font-size: 40px; text-align: center;color: #3a87ad' %>
      <div class="control-group">
        <%= text_field_tag "apartamento", nil, :placeholder => "Apto.: Ex: 101, A-204" , :style => 'text-align: center;'%>
        <%= email_field_tag "email", nil, :placeholder => "E-mail" , :style => 'text-align: center;'%>
</div>


  <div class="form-actions">
     <%= submit_tag 'Submit' , :class => 'btn btn-primary'%>
    <%= link_to 'Cancelar',
                residenciais_path, :class => 'btn' %>
  </div>

<% end %>
