<%- model_class = Arquivo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>


<%= link_to "Novo",
            new_arquivo_path,
            :class => 'btn btn-primary'if permitted_to? :new, Arquivo.new %>

<br />
<br />
<% @arquivos.each do |arquivo| %>

    <div class="row">
<div class="well span4">
  <div style="text-align: center; color:black; float: left;">
    <%= link_to image_tag(arquivo.icon, :size => "65x65") , arquivo.file.url %>
  </div>
  <div style="margin: 0px 0px 0px 80px; ">
    <span style="color:red; font-size: xx-large; font-weight: bold;"> <%= arquivo.titulo %></span><br />
    <span style="color:black;"><%= arquivo.descricao %> </span><br />

    <%= link_to "Baixar arquivo", arquivo.file.url %><br />

    <%= link_to "Comentários", arquivo %><br />
    <%= link_to 'Editar',
                edit_arquivo_path(arquivo), :class => 'btn btn-mini' if permitted_to? :edit, arquivo %>
    <%= link_to 'Excluir',
                arquivo_path(arquivo),
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, arquivo %>
  </div>
</div>
<% end %>
</div>