<%- model_class = Arquivo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

  <%= link_to t('.back', :default => t("helpers.links.back")),
              arquivos_path, :class => 'btn'  %>
<br/><br/>
<div class="row">
  <div class="well span4">

    <div style="text-align: center; color:black; float: left;">
      <%= link_to image_tag(@arquivo.icon, :size => "65x65") , @arquivo.file.url %>
    </div>
    <div style="margin: 0px 0px 0px 80px; ">
      <span style="color:red; font-size: xx-large; font-weight: bold;"> <%= @arquivo.titulo %></span><br />
      <span style="color:black;"><%= @arquivo.descricao %> </span><br />

      <%= link_to "Baixar arquivo", @arquivo.file.url %><br />
      <%= link_to Editar,
                  edit_arquivo_path(@arquivo), :class => 'btn'if permitted_to? :edit, @arquivo %>
      <%= link_to Excluir,
                  arquivo_path(@arquivo),
                  :method => 'delete',
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                  :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, @arquivo%>
    </div>
    </div>
  </div>
<% @comentarios.each do |comentario| %>
    <div class="row-fluid">

      <div class="span11 alert <% if comentario.alerta %>alert-error <% end %>">
        <p>
          <%= image_tag "profile_m.gif", :size => "30x30" unless comentario.user.photo_file_name %>
          <%= image_tag comentario.user.photo.url(:small) , :size => "30x30" if comentario.user.photo_file_name %>
          <b><%= comentario.titulo %> </b><%= comentario.conteudo %>
          <span style="font-size: x-small;color: #999999;"><%= time_ago_in_words(comentario.created_at) %>  </span>

          <%= link_to Excluir,
                      comentario_path(comentario),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                      :class => 'btn btn-mini btn-danger'if permitted_to? :destroy, comentario %>

        </p>
        <% comentario.comentarios.each do |c| %>
            <p>
              <%= image_tag "profile_m.gif", :size => "30x30" unless c.user.photo_file_name %>
              <%= image_tag c.user.photo.url(:small) , :size => "30x30" if c.user.photo_file_name %>
              <b><%= c.titulo %> </b><%= c.conteudo %>
              <span style="font-size: x-small;color: #999999;"> <%= time_ago_in_words(c.created_at) %> </span>
              <%= link_to Excluir,
                          comentario_path(c),
                          :method => :delete,
                          :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')),
                          :class => 'btn btn-mini btn-danger'if permitted_to? :destroy, c %>
            </p>
        <% end %>
        <%= form_for Comentario.new, :html => { :class => 'form-inline' } do |f| %>
            <%= image_tag "profile_m.gif", :size => "30x30" unless current_user.photo_file_name %>
            <%= image_tag current_user.photo.url(:small) , :size => "30x30" if current_user.photo_file_name %>
            <%= hidden_field :comentario, :comentavel_id, :value => comentario.id %>
            <%= hidden_field :comentario, :comentavel_type, :value => comentario.class %>
            <%= f.text_field :conteudo, :class => 'text_area', :rows => 1  %>
        <% end %>

      </div>
    </div>
<% end %>



